# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
modules/MicrosoftBandKit_iOS.framework/Headers
modules/MicrosoftBandKit_iOS.framework/MicrosoftBandKit_iOS
modules/MicrosoftBandKit_iOS.framework/Versions/Current
modules/MicrosoftBandKit_iOS.framework/Versions/A/MicrosoftBandKit_iOS
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MicrosoftBandKit_iOS.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBClient.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBClientManager.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBColor.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBErrorType.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBIcon.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBImage.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBNotificationManagerProtocol.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageBarcode.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageBarcodeData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageElement.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageElementData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageEnums.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageFilledButton.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageFilledButtonData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageFilledPanel.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageFlowPanel.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageIcon.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageIconData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageLayout.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageMargins.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPagePanel.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageRect.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageScrollFlowPanel.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageTextBlock.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageTextBlockData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageTextButton.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageTextButtonData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageTextData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageWrappedTextBlock.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPageWrappedTextBlockData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBPersonalizationManagerProtocol.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorAccelerometerData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorAltimeterData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorAmbientLightData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorBandContactData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorBarometerData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorCaloriesData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorDistanceData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorGSRData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorGyroscopeData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorHeartRateData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorManagerProtocol.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorPedometerData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorRRIntervalData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorSkinTemperatureData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBSensorUVData.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBTheme.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBTile.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBTileButtonEvent.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBTileEvent.h
modules/MicrosoftBandKit_iOS.framework/Versions/A/Headers/MSBTileManagerProtocol.h
